.container{
    padding: 5.0rem;
    max-width: 75ch;
    margin-top: -4.5rem;
}

.container h2{
    font-size: 2.5rem;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .container h2{
        font-size: 1.0rem;
    }
    .container p{
        font-size: 13px;
    }
  }
